body{
    text-align: center;
    font-family: Verdana;
}

#myH1{
    text-align: center;
    font-size: 2em;
}

#label{
    background-color: whitesmoke;
    font-size: 2em;
    font-family: Courier New;
}
#resultLabel{
    background-color: whitesmoke;
    font-size: 2em;
    font-family: Courier New;
}

#numInput{
    font-size: 2em;
    color:aliceblue;
    background-color: black;
    font-family: Segoe UI;
}

#buttonContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 2em;
    color: rgb(14, 15, 12);
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25;
}
.buttons:hover{
    background-color: rgb(94, 83, 83);
}